*{
    padding: 0;
    margin: 0;
} 
.login{
    width: 40%;
    margin: 0 auto;
}
.form{
    background-color: #f8f8f8;
    width: 40%;
    text-align: center;
    border: 1px solid #d2d2d2; 
}
.form-control{
    margin-top: 6px;
}
.text{
    font-size: 16px;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #c2c2c2; 
}
.btn{
    padding: 10px;
    background-color: #216e39;
    color: white;
    border: 1px solid #216e39; 
    border-radius: 5px;
    font-weight: bold;
}